{
displayStrings = (
"/N.ss02/Placeholder/N.ss02/Schwa/N.ss02/N.ss02/Placeholder/O.ss02/N.ss02/O.ss02/Placeholder/N.ss02/O.ss02/O.ss02/Placeholder/O.ss02/O.ss02 
Ð/D.ss02/Dcroat/schwa",
"/n.ss02/n.ss02/Placeholder/n.ss02/o.ss02/n.ss02/o.ss02/Placeholder/o.ss02/o.ss02 
/n.ss02/o.ss02/l.ss02/jdotless.ss02/j.ss02/lj.ss02/n.ss02/o.ss02/n.ss02/o.ss02/n.ss02/o.ss02/n.ss02/o.ss02",
"/Lj/Lj.ss02"
);
}
